{% extends "base.html" %}
{% block title %}Registro - Portal RadiologyModels{% endblock %}
{% block content %}
<div class="w-users-userformpagewrap full-page-wrapper">
    <div class="w-users-usersignupformwrapper admin-form-card">
        {% if not message %}
        <form id="signup_form" method="post" action="{% url 'users:signup' %}">
            {% csrf_token %}
            <div class="w-users-userformheader form-card-header">
                <h2 class="heading h3">Registro</h2>
            </div>
            {%for field in form%}
            <input type={{field.field.widget.input_type}} class="text-field w-input" placeholder={{field.label}}
                name={{field.name}} id={{field.name}} required>
            {%endfor%}
            <input type="submit" value="Registrarse" class="w-users-userformbutton button w-button" />
            <div class="w-users-userformfooter form-card-footer"><span>¿Ya tienes una cuenta?</span><a
                    href="{% url 'users:login' %}">Inicia sesión</a></div>
        </form>
        {% endif %}
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <div style="display:block" class="w-users-userformerrorstate w-form-fail">
            <div class="user-form-error-msg">
                {{error}}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {%if message%}
            <div>{{message}}</div>
        {%endif%}
    </div>
</div>
{% endblock %}